html {
    font-family: arial, sans-serif;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.main-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#img-google-logo {
    margin: 20px auto;
}

#img-google-logo:hover {
    cursor: pointer;
}

.navbar {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    justify-items: center;
    list-style: none;
    padding: 0;
    margin: 5px 10px;
}

.navbar-item, .navbar-item-text {
    margin: 5px;
    font-size: 12px;
    text-align: center;
}

a {
    text-decoration: none;
}

.navbar-item-text a {
    color: black;
}

.navbar-item-text:hover, #language:hover {
    text-decoration: underline;
}

input[id="img-google-menu"] {
    width: 18px;
    margin: 0 13px;
    padding: 10px 0;
}

#google-menu-item:hover {
    border-radius: 20px;
    background-color: #f1f1f1;
}

#sign-in {
    padding: 8px 20px;
    background-color: #0077FF;
    color: white;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 14px;
}

#sign-in:hover {
    background-color: #0088ff;
    box-shadow: 0 0 5px lightblue;
}

.search-container {
    display: flex;
    align-self: center;
    width: 35%;
    margin: 10px 80px 10px 0;
}

.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 15px 15px;
    min-width: 40px;
    color: #c1c1c1;
}

#search-bar {
    width: 100%;
    border-radius: 50px;
    border: 1px solid lightgray;
    padding: 10px 40px;
    font-size: 14px;
}

#search-bar:hover {
    box-shadow: 0 0 5px lightgray;
}

.search-btns {
    display: flex;
    justify-content: center;
}

.search-btn {
    font-size: 16px;
    color: #2f2f2f;
    background-color: #f4f4f4;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 5px 10px;
    margin: 30px 5px;
}

.search-btn:hover {
    border: 1px solid lightgray;
    cursor: pointer;
}

.change-lang-container {
    flex-grow: 1;
    box-sizing: border-box;
}

.change-lang {
    color: #4f4f4f;
    text-align: center;
    font-size: 12px;
}

.bottom-bar {
    flex-shrink: 0;
}

.location {
    display: flex;
    justify-content: start;
    list-style: none;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid lightgray;
}

.location-item {
    flex: 1 0 auto;
    padding: 15px 30px;
    color: gray;
    font-size: 14px;
}

.bottom-bar-list {
    flex-shrink: 1;
    display: flex;
    list-style: none;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.bottom-bar-item, .bottom-bar-item-r{
    padding: 15px 30px;
    font-size: 14px;
    justify-self: flex-start;
}

.bottom-bar-item-r {
    margin-left: auto;
}

.bottom-bar-item:hover, .bottom-bar-item-r:hover {
    text-decoration: underline;
    text-decoration-color: gray;
}

.bottom-bar-item a, .bottom-bar-item-r a {
    color: gray;
}